.barlow-semicondensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semicondensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semicondensed-medium-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semicondensed-semibold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}
